{% extends 'base.html.twig' %}

{% block title %}ServiceType index{% endblock %}

{% block body %}
    <h1>ServiceType index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for service_type in service_types %}
            <tr>
                <td>{{ service_type.id }}</td>
                <td>{{ service_type.name }}</td>
                <td>{{ service_type.description }}</td>
                <td>
                    <a href="{{ path('app_service_type_show', {'id': service_type.id}) }}">show</a>
                    <a href="{{ path('app_service_type_edit', {'id': service_type.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_service_type_new') }}">Create new</a>
{% endblock %}
