{{ form_start(form) }}





<h3>Tags</h3>

{# атрибут data-index обязателен для кода JavaScript ниже #}
<ul class="tags"
    data-index="{{ form.file|length > 0 ? form.file|last.vars.name + 1 : 0 }}"
    data-prototype="{{ form_widget(form.file.vars.prototype)|e('html_attr') }}"

></ul>

<button type="button" class="add_item_link" data-collection-holder-class="tags">Add a file</button>

<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

{# ... #}

<script>
  document.addEventListener("DOMContentLoaded", () => {

    document.querySelectorAll('.btn_remove').forEach(btn => btn.addEventListener("click", function(e){
      this.parentNode.parentNode.parentNode.remove();
    }));

    const addFormToCollection = (e) => {
      const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);
      const item = document.createElement('li');
      item.innerHTML = collectionHolder
        .dataset
        .prototype
        .replace(
          /__name__/g,
          collectionHolder.dataset.index
        );
      collectionHolder.appendChild(item);
      collectionHolder.dataset.index++;
    };

    document
      .querySelectorAll('.add_item_link')
      .forEach(btn => {
        btn.addEventListener("click", addFormToCollection)
      });

  });

</script>