{% extends 'base.html.twig' %}

{% block title %}ServiceState index{% endblock %}

{% block body %}
    <h1>ServiceState index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for service_state in service_states %}
            <tr>
                <td>{{ service_state.id }}</td>
                <td>{{ service_state.name }}</td>
                <td>{{ service_state.description }}</td>
                <td>
                    <a href="{{ path('app_service_state_show', {'id': service_state.id}) }}">show</a>
                    <a href="{{ path('app_service_state_edit', {'id': service_state.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_service_state_new') }}">Create new</a>
{% endblock %}
